#circle {
    width: 800px;
    height: 400px;
    border-radius: 70%;
    background-color: rgba(255, 222, 115, 0.74);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation: circle-animate 1s ease;
}

@keyframes circle-animate {
    0% {
        transform: scaleX(0.01) scaleY(0.01);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}

#game-title {
    color: rgba(51, 25, 6, 0.82);
    font-size: 40px;
}

#start-button {
    border-radius: 100%;
    width: 200px;
    height: 100px;
    font-size: 20px;
    background-color: rgba(255, 228, 196, 0.86);
}

#start-button:hover {
    border-color: rgba(255, 255, 0, 0.72);
}